{% extends 'layout.html' %}

{% block body %}

<section id="join" class="u-full-width header">
    <h1><b>Join</b> dvcoders</h1>
    <h5>Explore real world software development technologies.</h5>
    <h5>Learn new programming langues and tools.</h5>
    <h5>Build cool projects and websites.</h5>
  </section>
  <div class="container">
    <div class="row">
      <form action="/join" method="POST" >

        <div class="row form-row">
          <div class="six columns offset-by-three">
            <label for="firstName">*First Name</label>
            <input class="u-full-width" type="text" placeholder="Daniel" name="firstName" id="firstName" pattern="[a-zA-Z\-\s]+" data-required>
          </div>
        </div>
        <div class="row form-row">
          <div class="six columns offset-by-three">
            <label for="lastName">*Last Name</label>
            <input class="u-full-width" type="text" placeholder="Awai" name="lastName" id ="lastName" pattern="[a-zA-Z\-\s]+" data-required>
          </div>
        </div>
        <div class="row form-row">
          <div class="six columns offset-by-three">
            <label for="email">*Email</label>
            <input class="u-full-width" type="email" placeholder="daniel@awai.com" name="email" id ="email" pattern="^([\w\.\-_\+]+)?\w+@[\w-_]+(\.\w+){1,}$" data-required>
            <label>
              <input type="checkbox" name="mailchimp" id="mailchimp" checked><small> Subscribe to dvcoders mailling list: meeting updates & events</small>
            </label>
          </div>
        </div>
        <div class="row form-row">
          <div class="six columns offset-by-three">
            <label for="githubUsername">Github Username</label>
            <input class="u-full-width" type="text" placeholder="l33t h5x0r" id="githubUsername">
          </div>
        </div>
        <hr>

        <div class="row form-row">
          <div class="six columns offset-by-three">
            <h3>Describe yourself</h3>
            <p>We would love to know about where you're at and what you're interested in!
            <br>
            <small>- dvcoders is open to everyone, this has no effect on joining. Just some information to know you better.</small>
            </p>
          </div>
        </div>
        <div class="row form-row">
          <div class="six columns offset-by-three">
            <label>Programming Level</label>
            <label class="u-full-width">
              <input type="radio" name="experience">
              Confident Programmer - Built complete non-C++ projects
            </label>
            <label class="u-full-width">
              <input type="radio" name="experience">
              Aspiring Programmer - Dabbled in other languages
            </label>
            <label class="u-full-width">
              <input type="radio" name="experience">
              New Programmer - Just started with DVC C++
            </label>
            <label class="u-full-width">
              <input type="radio" name="experience">
              Non-Programmer - "for loop what?!"
            </label>
          </div>
        </div>

        <div class="row form-row">
          <div class="six columns offset-by-three">
            <label>What interests you?<br><small>Research the terms you don't know!</small></label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              Front-End Web Development - HTML/CSS/JavaScript
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              Back-End Web Development - Web Apps, APIs, Node.js, Flask
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              Dev Ops - Linux servers, databases, load-balancers, etc.
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              Mobile Development - iOS/Android apps
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              Hardware - Arduino, drones, etc.
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              CS Fundamentsals - Algorithms, Data Structures, ML
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              Funcation Programming - Haskell, Scala, etc.
            </label>
            <label class="u-full-width">
              <input type="checkbox" name="interests">
              More
              <input type="text" name="more-interests" style="display:block">
            </label>
          </div>
        </div>

        <div class="row form-row">
          <div class="eight columns offset-by-three">
            <label>What kinds of projects do you want to make?<br><small>Been dying to make a website? Hear about cool side projects? Got an idea? Now's the time to share!</small></label>
            <label>
              <input type="checkbox" name="interests">
              Personal Website/Blog
              <progress value="50" max="100"></progress>
            </label>
            <label>
              <input type="checkbox" name="interests">
              Personal Website/Blog
              <progress value="50" max="100"></progress>
            </label>
            <label>
              <input type="checkbox" name="interests">
              Personal Website/Blog
              <progress value="50" max="100"></progress>
            </label>
            <label>
              <input type="checkbox" name="interests">
              Personal Website/Blog
              <progress value="50" max="100"></progress>
            </label>
          </div>
        </div>
        
        <div class="row form-row">
          <div class="eight columns offset-by-three">
            <label>What kind of events and activities are you interseted in?</label>
            <label>
              <input type="checkbox" name="showcase">
              Showcase

        <div class="row form-row">
          <div class="six columns offset-by-three">
            <input class="button-primary" id="join-button" type="submit" value="Join" >
          </div>
        </div>

      </form>
    </div>
  </div>

  <script>
  window.addEventListener('submit', function(e) {
    var inputs = document.querySelectorAll('input[data-required]');
    Array.prototype.slice.call(inputs).forEach(function(el) {
      if (el.getAttribute('pattern') ? !(new RegExp(el.getAttribute('pattern')).test(el.value)) : el.value === '') {
        e.preventDefault();
        e.stopPropagation();
        el.setAttribute('required', true);
      }
    });
    console.log(e);
  });
  </script>
{% endblock %}
