progress {
  margin-left: 10px;
  width: 100px;
  vertical-align: middle;
}

input:invalid {
  border: 1px solid red;
}

.header {
  padding-top: 18rem;
  padding-bottom: 15rem;
  text-align: center;
  border-bottom: 1px #eee solid;
}

.form-row {
  padding-top: 4rem;
}

#join {
  background-color: #b25232;
  color: white;
}

#join-button {
  background-color: #b25232;
  border-color: #b25232;
}

.overlay-container {
  display: none;
}

.overlay {
  position: fixed;
  z-index: 1;
  /* displays on submit */
  background-color: gray;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* IE */
  filter: alpha(opacity=70);
  /* others */
  opacity: 0.7;
}

.message-container {
  background-color: white;
  position: fixed;
  z-index: 2;
  top: calc(50% - 75px);
  left: calc(50% - 250px);
  width: 500px;
  height: 150px;
  text-align: center;
  padding-top: 25px;
  border-radius: 2px;
}

